body {
	background: black;
	color: white;
}

#panes {
	display: flex;
	flex-direction: row;
	height: 100%; /* don't let #log push this past page bottom */
}

@media screen and (max-width: 800px) {
	#panes {
		flex-direction: column
	}
}

#panes .pane {
	flex-grow: 1;
}

#panes .pane#logpane {
	overflow-y: auto;
}
