body {
	background: black;
	color: white;
	max-width: 600px;
	margin: 0 auto;
	animation: 4s ease-in fadein;
}

#panes {
	display: flex;
	flex-direction: row;
	height: 100%; /* don't let #log push this past page bottom */
}

@media screen and (max-width: 800px) {
	#panes {
		flex-direction: column
	}
}

#panes .pane {
	flex: 1 1 0;
	/* flex-grow: 1; */
}

#panes .pane#mainpane {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#panes .pane#mainpane>* {
	flex-grow: 0;
	flex-shrink: 0;
}

#panes .pane#mainpane>#file {
	margin: 0.5em 0;
}

#panes .pane#mainpane>#status {
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0;
}

#panes .pane#mainpane>#status>.inner {
	background: white;
	color: black;
}

#status .right {
  float: right;
}

#panes .pane#mainpane>#stdout {
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
	overflow-y: scroll;

	display: flex;
	/*
	8.6.3
	At the start of a game, the screen should be cleared and the text cursor
	placed at the bottom left (so that text scrolls upwards as the game gets under
	way).
	*/
	flex-direction: column-reverse;
}

#panes .pane#logpane {
	overflow-y: auto;
	display: none; /* comment this out while debugging */
}

#panes .pane#logpane>#log {
	display: block;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	white-space: pre-wrap;
	background: #444;
	color: white;
}

#stdout {
	white-space: pre-wrap;
}

input#stdin {
	/* width: 100%; */
	background: #444;
	border: none;
	color: white;
	caret-color: white;
	outline: none;
}

span#stdin {
	outline: none;
}

@keyframes fadein {
	0% {
	    opacity: 0;
	}
	100% {
	    opacity: 1;
	}
}
